<div class="content_3">
    <h1><b>S</b>chedule</h1>

    <div class="sche_cont">
        <div class="sche">
            <div class="day">
                Day1
            </div>
            <div class="event">
                <div class="event_text"><p class="schedule_contain">報到 & 相見歡</p><p class="time_text"><b>08</b>30</p></div>
                <div class="event_text"><p class="schedule_contain">開場 & 來賓致詞</p><p class="time_text"><b>09</b>00</p></div>
                <div class="event_text"><p class="schedule_contain">公布題目&技術人員說明</p><p class="time_text"><b>10</b>30</p></div>
                <div class="event_text"><p class="schedule_contain">開始coding</p><p class="time_text"><b>12</b>00</p></div>
                <div class="event_text"><p class="schedule_contain">午餐時間</p><p class="time_text"><b>13</b>00</p></div>
                <div class="event_text"><p class="schedule_contain">持續 coding</p><p class="time_text"><b>15</b>30</p></div>
                <div class="event_text"><p class="schedule_contain">下午茶</p><p class="time_text"><b>16</b>00</p></div>
                <div class="event_text"><p class="schedule_contain">持續coding</p><p class="time_text"><b>18</b>30</p></div>
                <div class="event_text"><p class="schedule_contain">晚餐時間+野台表演</p><p class="time_text"><b>19</b>30</p></div>
                <div class="event_text"><p class="schedule_contain">戰鬥永無止盡</p><p class="time_text"><b>19</b>30</p></div>
            </div>
        </div>
        <div class="sche">
            <div class="day">
                Day2
            </div>
            <div class="event">
                <div class="event_text"><p class="schedule_contain">早餐時間</p><p class="time_text" ><b>07</b>00</p></div>
                <div class="event_text"><p class="schedule_contain">最後衝刺</p><p class="time_text" ><b>08</b>00</p></div>
                <div class="event_text"><p class="schedule_contain">午餐時間</p><p class="time_text" ><b>11</b>00</p></div>
                <div class="event_text"><p class="schedule_contain">最後衝刺</p><p class="time_text" ><b>12</b>00</p></div>
                <div class="event_text"><p class="schedule_contain">各組擺攤demo</p><p class="time_text" ><b>14</b>00</p></div>
                <div class="event_text"><p class="schedule_contain">交流時間</p><p class="time_text" ><b>15</b>30</p></div>
                <div class="event_text"><p class="schedule_contain">決賽</p><p class="time_text" ><b>16</b>00</p></div>
                <div class="event_text"><p class="schedule_contain">評審講評</p><p class="time_text" ><b>16</b>40</p></div>
                <div class="event_text"><p class="schedule_contain">贊助商活動宣傳</p><p class="time_text" ><b>17</b>00</p></div>
                <div class="event_text"><p class="schedule_contain">頒獎典禮及閉幕</p><p class="time_text" ><b>17</b>10</p></div>
            </div>
        </div>
    </div>

    <img id="sche_gear_1" src="../Img/gear.png" />
    <img id="sche_gear_2" src="../Img/gear.png" />
</div>
