<div id="selectionBar">
    <div class="selection" data-target="intro">Intro</div>
    <div class="selection" data-target="join_us">Join us</div>
    <div class="selection" data-target="schedule">Schedule</div>
    <div class="selection" data-target="sponsor">Partners</div>
    <div class="selection" data-target="footer">Contact</div>
</div>
