<div class="navbar">
    <div class="logo_sqr">
        <p class="logo_day"><b>10/</b>29.30</p>
        <div class="line"></div>
        <p className="localtion">交大工程四館</p>
    </div>
    <div class="title">
        <h1>MEI-CHU</h1>
        <h1>HACKATHON</h1>
    </div>
</div>
