*{
    vertical-align: top;
    box-sizing: border-box;
}
 body,html{
    padding: 0px;
    margin: 0px;
    position: relative;
    z-index: -2;
    background-color: #f7f7f7;
 }

@mixin breakpoint($point) {
   @if $point == desktop {
     @media (min-width: 1200px) { @content ; }
  }
   @else if $point == laptop {
     @media (min-width: 1024px) { @content ; }
  }
    @else if $point == tablet {
     @media (min-width: 600px) { @content ; }
  }
   @else if $point == phablet {
     @media (min-width: 391px)  { @content ; }
  }
  @else if $point == mobileonly {
     @media (max-width: 390px)  { @content ; }

  }
}

$title_family: 'Fugaz One', cursive;
$selector_family: 'Quicksand', sans-serif;
$font_family: 微軟正黑體;

$content_size: 22px;
$subtitle_size: 24px;
$title_size: 30px;

$supprot_color: #7c0404;
$main_color: #f7f7f7;
$sub_color: #88c1ff;

@import 'navbar';
@import 'block_1';
@import 'intro';
@import 'block_2';
@import 'join';
@import 'schedule';
@import 'sponsor';
@import 'footer';

.particles-js-canvas-el{
    position: absolute;
    top: 0;
}

.navbar, #block_1, #intro, #block_2, #join_us, #schedule, #sponsor, #footer{
    overflow: hidden;
}
