.parent_1{
    position: absolute;
    height: 100%;
    width: 100%;
    clip: rect(0 auto auto 0);
    &:before{
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: #1f2945;
        opacity: .7;
    }
}
#block_1 {
    position: relative;
    z-index: -20;
    height: 600px;
    @include breakpoint(mobileonly){
        height: 300px;
    }
    @include breakpoint(phablet){
        height: 300px;
    }
    @include breakpoint(tablet){
        height: 450px;
    }
    @include breakpoint(laptop){
        height: 600px;
    }
    .block_1_img{
        z-index: -20;
        position: absolute;
        width: 100%;
        @include breakpoint(mobileonly){
            width: 350%;
            left: -300px;
        }
        @include breakpoint(phablet){
            width: 200%;
            left: -100px;
        }
        @include breakpoint(tablet){
            width: 150%;
        }
        @include breakpoint(laptop){
            width: 120%;
        }
    }
    .container{
        position: relative;
        width: 100%;
        height: 100%;
    }
    .infocard{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: .8;
        font-size: $title_size;
        letter-spacing: .15em;
        text-align: center;
        color: white;
        font-family: $font_family;
        border: solid 3px $sub_color;
        @include breakpoint(mobileonly){
            font-size: 18px;
            font-weight: 500;
            padding: 8px;
            width: 240px;
            text-align: center;
        }
        @include breakpoint(phablet){
            font-size: 24px;
            font-weight: 500;
            padding: 8px;
            width: 300px;
            text-align: center;
        }
        @include breakpoint(tablet){
            width: 400px;
            padding: 10px 0px;
            font-size: 32px;

        }
        @include breakpoint(laptop){
            width: 620px;
            padding: 30px;
            font-weight: 500;
            font-size: 40px;
        }
    }
}
