
#footer{
    background-color: #2b2b2b;
    width: 100%;
    position: relative;
    z-index: -2;
}



.content_6{
    font-family: $font_family;
    padding: 1em 4em 2em 4em;
    .staff{
        display: inline-block;
        margin: 20px;
        width: 30%;
        letter-spacing: 2px;
        line-height: 1.2em;
        opacity: .8;
        h1{
            margin: 0;
            font-size: 16px;
            font-weight: 100;
            margin-top: 1.8em;
            margin-bottom: .5em;
            color: #f7f7f7;
            padding-bottom: 2px;
            border-bottom: solid 1px ;
        }
        p{
            font-size: 16px;
            font-weight: 100;
            margin: 0;
            color: #f7f7f7;
        }
    }
}
