#intro{
    position: relative;
    overflow: hidden;
}
#particles_container{
    position: relative;
    background: linear-gradient(90deg, #bae0ff, #8292cc);
}
.content_1{
    position: relative;
    padding-top: 5em;
    width: 100%;
    &:last-of-type{
        padding-bottom: 6em;
    }
    .partical{
        background-color: rgba(255,255,255,.7);
        width: 55%;
        margin: 0 auto;
        font-family: $font_family;
        text-align: justify;
        padding: 3em;
        border-radius: 15px;
        letter-spacing: 1.2pt;
        position: relative;
        @include breakpoint(mobileonly){
            padding: 1em;
            width: 90%;
        }
        @include breakpoint(phablet){
            padding: 2em;
            width: 85%;
        }
        @include breakpoint(laptop){
            padding: 3em;
            width: 55%;
        }
        h1{
            width: 600px;
            margin: 0;
            text-align: left;
            border-bottom: solid 1px;
            padding-bottom: 8px;
            font-size: 24px;
            font-weight: 300;
            margin-bottom: .6em;
            @include breakpoint(mobileonly){
                font-size: 21px;
                font-weight: 700;
                width: 100%;
            }
            @include breakpoint(phablet){
                font-size: $title_size;
                width: 100%;
                font-weight: 500;
            }
            @include breakpoint(laptop){
                font-size: $title_size;
                width: 80%;
                font-weight: 500;
            }
        }
        p{
            font-size: $content_size;
            margin: 0;
            padding-top: .6em;
            padding-bottom: .6em;
            line-height: 1.6em;
            @include breakpoint(mobileonly){
                font-size: 16px;
                width: 100%;
            }
            @include breakpoint(phablet){
                font-size: 20px;
                width: 100%;
            }
            @include breakpoint(laptop){
                font-size: 22px;
                width: 100%;
            }
        }
        b{
            color: #8b1616;
            font-size: $subtitle_size;
            font-weight: 400;
            @include breakpoint(mobileonly){
                font-size: 18px;
                width: 100%;
                font-weight: 600;
            }
            @include breakpoint(phablet){
                width: 100%;
            }
        }
    }
    .last_partical{
        @include breakpoint(mobileonly){
            padding-bottom: 5em;
        }
        @include breakpoint(phablet){
            padding-bottom: 5em;
        }
        @include breakpoint(laptop){
            padding-bottom: 8em;
        }
        a{
            text-decoration: none;
            color: #8b1616;
            border: solid 2px #8b1616;
            left: 50%;
            transform: translate(-50%,0);
            position: absolute;
            z-index: 5;
            font-weight: 900;
            font-family: $selector_family;
            text-align: center;
            transition: .5s;
            border-radius: 15px;
            width: 55%;
            padding: .3em 0;
            @include breakpoint(mobileonly){
                bottom: 1em;
                font-size: 24px;
            }
            @include breakpoint(phablet){
                font-size: 24px;
                bottom: 1em;
            }
            @include breakpoint(laptop){
                font-size: $title_size;
                bottom: 1.5em;
            }

            &:hover{
                background-color: #8b1616;
                color: #f7f7f7;
            }
        }
    }
}
