#intro{
    position: relative;
    overflow: hidden;
    .gear{
        position: absolute;
        background-color: black;
        width: 300px;
        z-index: 1;
    }
}
.content_1{
    padding-top: 5em;
    position: relative;
    z-index: -1;
    width: 100%;
    background-color: #f7f7f7;
    .partical{
        background-color: #f7f7f7;
        width: 55%;
        margin: 0 auto;
        font-family: $font_family;
        text-align: justify;
        letter-spacing: 1.2pt;
        h1{
            width: 600px;
            margin: 0;
            border-bottom: solid 1px;
            padding-bottom: 8px;
            font-size: $title_size;
            font-weight: 400;
            margin-bottom: .6em;
        }
        b{
            color: #8b1616;
            font-size: $subtitle_size;
            font-weight: 400;
        }
        p{
            font-size: $content_size;
            margin: 0;
            padding-top: .5em;
            line-height: 1.6em;
        }
    }
}
