#join_us{
    position: relative;
}
.content_2{
    padding-top: 3em;
    padding-bottom: 8em;
    position: relative;
    width: 100%;
    background-color: $main_color;
    .partical{
        margin: 0 auto;
        z-index: 1;
        letter-spacing: 1.2pt;
        position: relative;
        text-align: justify;
        width: 55%;
        padding: 2em 3em;
        background-color: #f7f7f7;
        font-family: $font_family;
        @include breakpoint(mobileonly){
            padding:1em 2em;
            width: 90%;
            padding-bottom: 5em;
            margin-top: 1em;
            margin-bottom: 5em;

        }
        @include breakpoint(phablet){
            padding: 2em;
            width: 85%;
            padding-bottom: 5em;
            margin-top: 1em;
            margin-bottom: 4em;
        }
        @include breakpoint(tablet){
            padding: 2em;
            width: 85%;
            padding-bottom: 5em;
            margin-top: 1em;
            margin-bottom: 4em;
        }
        @include breakpoint(laptop){
            padding: 2em 4em;
            width: 55%;
            padding-bottom: 5em;
            margin-bottom: 6em;
        }
        &:last-of-type{
            padding-bottom: 2em;
            margin-bottom: 0;
        }
        .sign_in{
            left: 50%;
            transform: translate(-50%,0);
            position: absolute;
            z-index: 2;
            text-align: center;
            display: flex;
            flex-wrap: wrap;
            -webkit-flex-wrap: wrap;
            width: 80%;
            a{

                text-decoration: none;
                color: $supprot_color;
                border: solid 2px $supprot_color;
                font-weight: 500;
                font-family: $font_family;
                border-radius: 15px;
                transition: .5s;
                margin: 0 30px;
                min-width: 100px;
                margin-bottom: 1em;
                @include breakpoint(mobileonly){
                    bottom: 2em;
                    flex: 80;
                    -webkit-flex: 80;
                    border: solid 1px $supprot_color;
                    padding: .3em 0em;
                    font-size: 20px;
                }
                @include breakpoint(phablet){
                    flex: 80;
                    -webkit-flex: 80;
                    font-size: 22px;
                    padding: .3em 0;
                    bottom: 2em;

                }
                @include breakpoint(tablet){
                    flex: 40;
                    -webkit-flex: 40;
                    font-size: 22px;
                    padding: .3em;
                    bottom: 2em;

                }
                @include breakpoint(laptop){
                    flex: 30;
                    -webkit-flex: 30;
                    padding: .3em .6em;
                    font-size: 26px;
                    bottom: 1.5em;
                }
                &:hover{
                    background-color: $supprot_color;
                    color: #f7f7f7;
                }
            }
        }
        h1{
            font-weight: 400;
            font-size: $title_size;
            padding-bottom: .6em;
            @include breakpoint(mobileonly){
                font-size: 24px;
                font-weight: 700;
                width: 100%;
            }
            @include breakpoint(phablet){
                font-size: $title_size;
                width: 100%;
                font-weight: 500;
            }
            @include breakpoint(laptop){
                font-size: $title_size;
                width: 600px;
                font-weight: 500;
            }
        }
        b{
            font-size: 24px;
            border: solid 1px #8b1616;
            border-radius: 10px;
            padding: .8em 1.8em;
            margin-top: 20em;
            position: relative;
            letter-spacing: 5px;
            top: 50px;
            color: #8b1616;
        }
        p{
            font-size: $content_size;
            line-height: 1.6em;
            margin: 0;
            &:last-of-type{
                padding-bottom: 2em;
            }
            @include breakpoint(mobileonly){
                font-size: 18px;
                width: 100%;
            }
            @include breakpoint(phablet){
                font-size: 20px;
                width: 100%;
            }
            @include breakpoint(laptop){
                font-size: 22px;
                width: 100%;
            }
        }
        ul{
            padding-left: .5em;
        }
        li{
            font-size: $content_size;
            margin: 0;
            padding: 0;
            @include breakpoint(mobileonly){
                font-size: 18px;
            }
            @include breakpoint(phablet){
                font-size: 20px;
            }
            @include breakpoint(laptop){
                font-size: 22px;
            }
        }
    }
}
