.navbar{
    height: 310px;
    background-color: #f7f7f7;
    position: relative;
}
.logo_sqr{
    opacity: .9;
    position: relative;
    top: 40px;
    width: 210px;
    height: 210px;
    margin: 0 auto;
    background-color: #88c1ff;
    text-align: center;

    p {
        font-size: 16px;
        font-family: $font_family;
        padding-top: 28px;
    }


    .line {
        margin: auto;
        margin-top: 125px;
        width: 40px;
        height: .8px;
        background-color: black;
    }
    .logo_day {
        margin: 0;
        font-family: $selector_family;
        line-height: 8px;
    }
    b {
        margin: 0;
        padding: 0;
        font-size: 24px;
        line-height: 0;
        font-weight: 400;
    }
    .localtion {
        margin-top: 12px;
        padding-top: 0px;
    }
}
.title {
    opacity: .85;
    display: inline-block;
    position: absolute;
    text-align: center;
    left: 50%;
    transform: translate(-50%);
    top: 95px;
    h1 {
        line-height: 1em;
        font-family: $title_family;
        font-size: 47px;
        margin: 0;
    }
}

#Bar{
    z-index: 100;
}
#selectionBar {
    z-index: 10;
    position: relative;
    background-color: #f7f7f7;
    width: 100%;
    height: 65px;
    text-align: center;
    color: rgba(0, 0, 0, .7);
    box-shadow: 0px 10px 20px rgba(0,0,0,.1);
    @include breakpoint(mobileonly){
        height: 50px;
    }
    @include breakpoint(phablet){
        height: 55px;
    }
    @include breakpoint(tablet){
        height: 55px;
    }
    @include breakpoint(laptop){
        height: 65px;
    }
}
.selection {
    font-family: $selector_family;
    display: inline-block;
    font-weight: 700;
    padding: 20px 4px;
    position: relative;
    font-size: 14pt;
    top: 50%;
    transform: translate(0,-50%);
    margin: 0 40px;
    opacity: .5;
    transition: cubic-bezier(0, 0.34, 0.17, 0.95) 1s;
    @include breakpoint(mobileonly){
        font-size: 9pt;
        margin: 0 2px;
        padding: 0;
    }
    @include breakpoint(phablet){
        font-size: 12pt;
        margin: 0 8px;
        padding: 20px 0;
    }
    @include breakpoint(tablet){
        font-size: 12pt;
        margin: 0 20px;
        padding: 20px 0;
    }
    @include breakpoint(laptop){
        font-size: 15pt;
        margin: 0 55px;
        padding: 20px 0;
    }
    &:hover, &.active {
        cursor: pointer;
        opacity: 1;
        @include breakpoint(mobileonly){
            font-size: 11pt;
        }
        @include breakpoint(phablet){
            font-size: 12pt;
        }
        @include breakpoint(tablet){
            font-size: 14pt;
        }
        @include breakpoint(laptop){
            font-size: 17pt;
        }
    }
}
