#schedule{
    width: 100%;
    position: relative;
    z-index: -3;
    background-color: #B2E4DB;
}
.content_3{
    padding: 4em 10em 3em 10em;
    position: relative;
    z-index: -1;
    h1{
        font-family: 'Raleway', sans-serif;
        font-size: 60px;
        text-align: left;
        font-weight: 900;
        color: rgba(0,0,0,.7);
        padding-bottom: 1.6em;
        letter-spacing: .1em;
        b{
            padding-bottom: 6px;
            border-bottom: solid 8px #88C1FF;
        }
    }

    .day{
        position: absolute;
        font-family: $selector_family;
        font-size: $subtitle_size;
        font-weight: 900;
        opacity: .8;
        top: -2em;
        transform: translate(-25%,0);
    }

    .sche_cont{
        padding-bottom: 8em;
        font-family: $font_family;
        .sche{
            position: relative;
            display: inline-block;
            width: 45%;
            border-left: solid 2px #333;
            .event{
                position: relative;
                display: inline-block;
                color: #f7f7f7;
                margin-left: 20px;
                .schedule_contain{
                    padding: 10px 20px;
                    background-color: #88C1FF;
                    border-radius: 8px;
                }
                .event_text{
                    position: relative;
                    font-weight: 700;
                    letter-spacing: 1.2px;
                    font-size: 1em;
                    padding: 20px 12px;
                    margin: 0;
                    &:last-of-type{
                        padding-bottom: 2em;
                    }
                    .time_text{
                        position: absolute;
                        top: 0em;
                        left: -32px;
                        transform: translate(-100%,-50%);
                        font-size: .6em;
                        margin: 0;
                        &::after{
                            content: '';
                            position: absolute;
                            width: 8px;
                            height: 8px;
                            border: 2px solid #333;
                            border-radius: 100%;
                            top: 50%;
                            right: 0;
                            background: #88C1FF;
                            transform: translate(17px, -50%);
                        }
                        b{
                            margin: 0;
                            font-weight: 900;
                            vertical-align: baseline;
                            font-size: 1.5em;
                        }
                    }
                }
            }
        }
    }
}
