#schedule{
    width: 100%;
    position: relative;
    z-index: -3;
    background-color: #B2E4DB;
    overflow: hidden;
}
.content_3{
    padding: 4em 5em 3em 5em;
    position: relative;
    z-index: -1;
    @include breakpoint(mobileonly){
        padding: 4em 0 3em 0;
    }
    h1{
        font-family: 'Raleway', sans-serif;
        font-size: 60px;
        text-align: left;
        font-weight: 900;
        color: rgba(0,0,0,.7);
        padding-bottom: 1em;
        letter-spacing: .1em;
        margin-left: 1.5em;
        @include breakpoint(mobileonly){
            font-size: 30px;
            margin-left: 1em;
        }
        @include breakpoint(phablet){
            font-size: 40px;
            margin-left: 1em;
        }
        @include breakpoint(laptop){
            font-size: 60px;
            margin-left: 1.5em;
        }
        b{
            padding-bottom: 6px;
            border-bottom: solid 8px #88C1FF;
        }
    }

    .day{
        position: absolute;
        font-family: $selector_family;
        font-size: $subtitle_size;
        font-weight: 900;
        opacity: .8;
        top: -2em;
        transform: translate(-45%,0);
    }

    .sche_cont{
        padding-bottom: 8em;
        font-family: $font_family;
        justify-content: center;
        display: flex;
        flex-wrap: wrap;
        .sche{
            flex: 40;
            margin-top: 3em;
            margin-left: 60px;
            margin-right: 60px;
            min-width: 10em;
            max-width: 20em;
            position: relative;
            display: inline-block;
            border-left: solid 2px #333;
            @include breakpoint(mobileonly){
                min-width: 4em;
                margin-left: 60px;
                margin-right: 60px;
            }
            .event{
                position: relative;
                display: inline-block;
                color: rgba(0,0,0,0.7);
                margin-left: 20px;
                width: 100%;
                .schedule_contain{
                    transform-style: preserve-3d;
                    min-width: 10em;
                    padding: 20px 20px;
                    background-color: #354441;
                    border-radius: 4px;
                    box-shadow: 0px 2px 5px 0px rgba(54, 69, 66, 0.7);
                    margin: 0;
                    color: #b2e4db;
                    @include breakpoint(mobileonly){
                        padding: 10px 12px;
                    }
                }
                .event_text{
                    perspective: 1000px;
                    position: relative;
                    font-weight: 700;
                    letter-spacing: 1.2px;
                    font-size: 1em;
                    padding: 8px 12px;
                    margin: 0;
                    @include breakpoint(mobileonly){
                        font-size: .8em;
                        padding: 6px 6px;
                    }
                    &:last-of-type{
                        padding-bottom: 2em;
                    }
                    .time_text{
                        position: absolute;
                        top: 0em;
                        left: -32px;
                        transform: translate(-100%,-50%);
                        font-size: .6em;
                        margin: 0;
                        @include breakpoint(mobileonly){
                            font-size: .3em;
                            font-weight: 900;
                        }
                        &::after{
                            content: '';
                            position: absolute;
                            width: 8px;
                            height: 8px;
                            border: 2px solid #333;
                            border-radius: 100%;
                            top: 50%;
                            right: 0;
                            background: #88C1FF;
                            transform: translate(17px, -50%);
                        }
                        b{
                            margin: 0;
                            font-weight: 900;
                            vertical-align: baseline;
                            font-size: 1.5em;
                        }
                    }
                }
            }
        }
    }
}

#sche_gear_1, #sche_gear_2 {
    position: absolute;
    z-index: -1;
    opacity: .3;
    transform-origin: center center;
}

#sche_gear_1 {
    width: 50em;
    left: 0;
    top: 0;
    @include breakpoint(mobileonly){
        width: 20em;
    }
    @include breakpoint(phablet){
        width: 30em;
    }
    @include breakpoint(laptop){
        width: 50em;
    }
}

#sche_gear_2 {
    width: 20em;
    right: 0;
    bottom: 6em;
}
