#sponsor{
    width: 100%;
    position: relative;
    z-index: -2;
}
.content_5{
    padding: 4em 6em 8em 6em;
    background-color: white;
    @include breakpoint(mobileonly){
        padding: 2em 0 4em 0;
    }
    @include breakpoint(phablet){
        padding: 2em 1em 4em 1em;
    }
    @include breakpoint(laptop){
        padding: 4em 6em 8em 6em;
    }
    h1{
        text-align: center;
        font-family: $selector_family;
        margin: 0;
        padding: .8em 0;
        font-size: 2em;
        @include breakpoint(mobileonly){
            font-size: 1em;
            padding: .3em 0;
        }
        @include breakpoint(phablet){
            font-size: 1.5em;
            padding: .5em 0;
        }
        @include breakpoint(laptop){
            font-size: 2em;
            padding: .8em 0;
        }
    }
    hr{
        width: 80px;
        border-top: none;
        border-bottom: solid 2px rgba(0,0,0,.8);
    }
    .sponsor_logo{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        margin-top: 40px;
    }
    img{
        display: inline-block;
        width: 15%;
        margin: 0 40px 30px 40px;
        @include breakpoint(mobileonly){
            width: 65%;
            margin-bottom: 40px;
        }
        @include breakpoint(phablet){
            width: 30%;
            margin-bottom: 60px;
            margin-left: 30px;
            margin-right: 30px;
        }
        @include breakpoint(laptop){
            width: 15%;
            margin: 0 40px 30px 40px;
        }
    }
}
