<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Fugaz+One" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
        <title><%= htmlWebpackPlugin.options.title %></title>
    </head>
    <body>
         @require('./ejs/top.ejs')
        <div id="Bar">@require('./ejs/selection_bar.ejs')</div>
        <div id="block_1">
            <div class="parent_1">
                <img class="block_1_img" src="./Img/59612101_p0.png">
                <div class="container">
                    <div class='infocard'>
                        你就是轉動世界的齒輪
                    </div>
                </div>
            </div>
        </div>
        <div id="intro">@require('./ejs/intro.ejs')</div>
        <div id="block_2">
            <div class="parent_2">
                <img class="block_2_img" src="./Img/pexels-photo-267507.jpg">
            </div>
        </div>
        <div id="join_us">@require('./ejs/join.ejs')</div>
        <div id="schedule">@require('./ejs/schedule.ejs')</div>
        <div id="sponsor">@require('./ejs/sponsor.ejs')</div>
        <div id="footer">@require('./ejs/footer.ejs')</div>
    </body>
</html>
